@if (data) {
  <main class="dashboard-container">
    
    <header class="system-summary">
      <h1>Dashboard de Baterías</h1>
      <div class="summary-grid">
        
        <div class="summary-card">
          <span class="label">Estado del Sistema</span>
          <span class="value status-reposo">{{ data.summary?.system_status }}</span>
        </div>

        <div class="summary-card">
          <span class="label">Baterías Conectadas</span>
          <span class="value">{{ data.summary?.connected_count }}</span>
        </div>

        <div class="summary-card">
          <span class="label">Potencia Neta Total</span>
          <span class="value">{{ (data.batteries[0].power_w + data.batteries[1].power_w) | number:'1.2-2' }} W</span>
        </div>

        <div class="summary-card">
          <span class="label">Energía Total</span>
          <span class="value">{{ data.summary?.total_energy_wh | number:'1.2-2' }} Wh</span>
        </div>

      </div>
    </header>

    <section class="batteries-grid">
      <app-battery-card *ngFor="let bat of data.batteries" [battery]="bat"></app-battery-card>
    </section>

  </main>

} @else {
  <div class="loading-screen">
    <h1>Conectando a <span>http://192.168.1.98</span>...</h1>
    </div>
}

<router-outlet></router-outlet>