<ng-container *ngIf="dashboard$ | async as dashboard; else loadingTemplate">

  <main class="dashboard-container">
    
    <app-system-summary
      [data]="dashboard.data"
      [lastUpdate]="dashboard.last_update"
      (toggleInverter)="toggleInverter($event)">
    </app-system-summary>

    <section class="batteries-section">
      <h2>Bancos de Baterías</h2>
      <div class="batteries-grid">
        <app-battery-card 
          *ngFor="let bat of dashboard.data.batteries" 
          [battery]="bat">
        </app-battery-card>
      </div>
    </section>

  </main>

</ng-container>

<ng-template #loadingTemplate>
  <app-loading-screen></app-loading-screen>
</ng-template>